<div class="wrapper d-flex">
  <div class="content flex-grow-1 p-4">
    <main>
      {{> search}}
      <div class="posts-container d-flex flex-wrap gap-3">
        {{#each results}}
        <div class="post-item" style="width: 180px; color: white;">
          <a href="/posts/{{post_id}}" style="text-decoration: none; color: inherit;">
            <img src="/{{thumbnail}}" alt="{{title}}"
              style="width: 100%; height: 100px; object-fit: cover; border-radius: 0.25rem;">
            <h5 class="post-title mt-2" style="font-size: 1rem;">{{title}}</h5>
          </a>
          <p class="post-author" style="font-size: 0.8rem; color: #ccc; margin: 0;">by {{username}}</p>
          <p class="post-date" style="font-size: 0.7rem; color: #999; margin: 0;">{{formatDate created_at}}</p>
        </div>
        {{/each}}
      </div>

    </main>
  </div>
</div>